#--- System ---#
# OSX
.DS_STORE
# NT
Thumbs.db

#--- tool ---#
.vscode/
.git/
.gitignore
.gsc.config

#--- Python ---#
.venv/
build/
dist/

#--- Java ---#
.class

#--- executeable ---#
*.exe
*.app
*.out

#--- Temporary ---#
*.log
*.tmp

#--- Private ---#
private_*

#--- Rust ---#
Cargo.*
target/

# gsc Script
.gsc.config
